:root {
  --accentMain: rgb(155, 170, 179);
  --accentNavy: rgb(26, 70, 90);
  --accentGrey: rgb(172, 172, 172);
}

html,body {
  margin: 0%;
  display: flex;
  font-size: 16px;
  font-family: 'Work Sans', 'Open Sans', sans-serif;
 }

 html {
   color: rgb(0, 0, 0);
 }

 main {
   width: 100vw;
   height: 100vh;
   background-color: rgb(221, 221, 221);
 }

nav {
  background-color: var(--accentMain);
  position: fixed;
  margin: 0%;
  width: 100%;
  height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-div img {
  height: 60px;
  padding-left: 9vw;
}

#top-buttons {
  padding-right: 30px;
}

#top-buttons button {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: black;
  color: white;
  border: none;
  font-size: 2rem;
  text-align: center;
  margin: 0px 10px;
}

button#add-task-button {
  transition: transform 800ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

button#add-task-button.active {
  transform: rotate(225deg);
  transition-timing-function: cubic-bezier(2, 0.82, 0.165, 1);
}

#top-buttons button:hover {
  background-color: rgb(71, 71, 71);
  color: white;
}

button#menage-projects-button {
  transition: width 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
  overflow: hidden;
}

button#menage-projects-button.active {
  font-family: 'Quicksand';
  width: 190px;
  padding: 0px 50px;
  font-size: 1.4rem;
}

svg#arrows-svg {
  transform: rotate(180deg) scale(.8);
  fill: white;
}

svg#arrows-svg.active {
  display: none;
}

span#project-span {
  opacity: 0;
  display: none;
  transition: opacity 1s ease-in;
}

span#project-span.active {
  opacity: 1;
  display: inline-block;
}

#container {
  padding-top: 11vh;
  width: 100vw;
  height: fit-content;
  min-height: 89vh;
  background-color: rgb(230, 230, 230);
  display: flex;
}

#projects-nav {
  font-family: 'Open Sans';
  position: fixed;
  right: -350px;
  bottom: 0;
  height: 89vh;
  width: 20vw;
  background-color: rgb(34, 34, 34);
  z-index: 3;
  transition: transform 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
  display: block;
}

#projects-nav.active {
  display: flex;
  flex-direction: column;
  transform: translate(-350px);
}

button#add-project-button {
  border: 0px solid rgb(0, 0, 0) !important;
  background-color: rgb(36, 36, 36) !important;
  box-shadow:inset 0px 0px 1px 2px rgb(53, 53, 53);
}

button#new-project-button, .project {
  padding: 15px 0px;
  font-family: 'Quicksand';
  border: none;
  border-bottom: 2px solid;
  background-color: rgb(0, 0, 0);
  color: rgb(201, 201, 201);
  text-decoration: underline;
}

#new-project-ul :nth-child(n), .project {
  width: 100%;
  border: none;
  border-bottom: 0px solid rgb(128, 128, 128);
  background-color: rgb(0, 0, 0);
}

#new-project-ul {
  display:  none;
}

#new-project-ul.active {
  display: block;
}

#project-name-input::placeholder {
  color: rgb(117, 117, 117);  
  font-style: italic;
  padding-right: 20px;
  font-weight: 100;
}

#project-name-input {
  font-family: 'Quicksand';
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 10px 0px !important;
  background-color:rgb(231, 231, 231) !important;
  box-shadow:inset 0px 0px 1px 2px rgb(34, 34, 34);
  font-weight: bold;
}

#new-project-ul button {
  font-family: 'Quicksand';
  color: rgb(201, 201, 201);
  text-decoration: underline;
  background-color: rgb(82, 82, 82);
  padding: 10px 0px !important;
}

#new-project-ul button:hover, button#new-project-button:hover  {
  color: var(--accentMain);
  border-color: var(--accentMain);
}

#new-project-ul button:hover {
  box-shadow:inset 0px 0px 1px 2px var(--accentMain);
  box-shadow: inset ;
}


.project:hover {
  background-color: rgb(71, 71, 71) !important;
  color: white;
}

.project {
  border: 1px solid rgb(44, 44, 44);
  color: rgb(136, 136, 136);
  text-decoration: none;
  text-align: start;
  padding-left: 5px;
}

.project.active-project {
  color: var(--accentMain);
  text-decoration: underline;
  text-shadow: 0px 0px 6px var(--accentMain);
}

div#add-task-modal {
  display: none;
  position: fixed; 
  z-index: 1;
  padding-top: 10vh;
  left: 0%;
  top: 11vh;
  width: 100%;
  height: 100%;
  overflow: auto;
}

div#add-task-window {
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 0px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 2%;
  border-radius: 20px;
} 

div#add-task-modal.active {
  display: flex;  
  background: rgba(0,0,0,0.8);
} 

div#add-task-window button {
  align-self: right;
  background-color: black;
  color: white;
}

.checklist-bullet {
  padding-left: 15px;
}

.checklist-input {
  border: none;
  width: 300px !important;
}

div#add-task-window input, select, textarea {
  margin: 5px;
  width: 96%;
  }

div#add-task-window button {
  height: 20px;
  width: 20px;
  margin-left: 200px;
  border-radius: 30px;
  border: none;
}

button#remove-bullet {
  margin-left: 20px !important;
}

input#task-name-input::placeholder {
  color: rgb(128, 128, 128);
  font-style: italic;

}

input#task-name-input {
  border-bottom: 2px solid rgb(153, 153, 153);
  font-size: 1.2rem;
  width: 340px !important;
}

input[type="text"] {
  border: none;
  border-bottom: 2px solid rgb(221, 221, 221);
}

textarea::placeholder {
  font-style: italic;
}

#date-input, #priority-select, #projects-select {
  width: 150px !important;
  margin-left: 20px;
}

input[type="submit"] {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 0px;
  margin-top: 20px !important;
}

#date-input {
  margin-left: 20px !important;
}

.Task {
  padding: 10px;
  margin: 20px;
  border: 3px solid var(--accentMain);
  width: 200px !important;
  height: fit-content;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px var(--accentMain);
  background-color: rgb(255, 255, 255);
  word-wrap: break-word;
}

.Task.editing {
  box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
  border: 3px solid rgb(0, 0, 0);
} 

.Task .editing-label {
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: white;
  display: none;
  padding: 5px;
  margin: -10px -11px -5px -11px;
  overflow: hidden;
}

.Task.editing .editing-label {
  display: block;
}

.Task li {
  padding: 10px;
  height: fit-content;
  color: rgb(112, 112, 112);
}

.Task .task-name {
  font-size: 1.6rem;
  font-family: 'Quicksand';
  color: rgb(127, 150, 156);
  text-align: center;
}

.minor, .relevant, .important {
  font-size: .9rem;
  text-align: center;
  font-family: 'Quicksand';
  margin: 5px 0px;
  color: rgb(131, 143, 148);
  border-top: 1px solid rgb(131, 143, 148);
}

.relevant {
  color: rgb(1, 163, 168);
  border-top: 1px solid rgb(1, 163, 168);
}

.important {

  color: rgb(255, 11, 2);
  border-top: 1px solid rgb(255, 11, 2);
}

.Task .task-description {
  margin-top: -15px;
  font-family: 'Open space';
  color: rgb(26, 70, 90);
}

.task-checklist li {
  color: rgb(53, 53, 53);
}

.checklist-li.crossed {
  color: rgb(172, 172, 172);
  text-decoration: line-through;
} 

.checklist-li.crossed label {
  color: rgb(172, 172, 172);
}

.task-checklist li:hover {
  transform: scale(1.01);
}

.task-checklist label {
  padding-right: 10px;
  color: var(--accentNavy);
  text-decoration: none !important;
}

.Task button {
  background-color: rgb(219, 224, 226);
  color: var(--accentGray);
  border: solid 1px var(--accentMain);
  text-align: center;
  font-family: 'Work Sans';
  font-size: 0.9rem;
  border-radius: 5px;
  margin: 0px;
}

.Task button:hover {
  background-color: var(--accentMain);
  border-color: black;
  color: black;
}

.Task img {
  transform: scale(0.6);
  z-index: 2;
}

.Task button.save-changes-button {
  display: none;
}